* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: black;
}

section.heading {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    position: relative;
    width: 900px;
}
h1, h2 {
    margin: 0;
}
h1 {
    color: #a9a9a9;
    font-size: 55px;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 50px;
    width: 350px;
}
h1 span {
    font-weight: 300;
}

h2 {
    color: #666;
    font-size: 20px;
    font-weight: 300;
}

section.social {
    height: 50px;
}
section.social a {
    display: inline-block;
    margin-top: 15px;
}
section.social svg {
    -webkit-transition: fill 2s, -webkit-transform 2s;
    transition: fill 2s, transform 2s;
    fill: #333;
    height: 35px;
    margin-right: 10px;
}
section.social a:hover svg {
    fill: #FFF;
}

section#instafeed {
    position: absolute;
    top: 20px;
    right: 0;
    width: 280px;
    display: none;
}
section#instafeed.show {
    display: block;
}
section#instafeed:after {
    content: 'X';
    color: #FFF;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -10px;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px;
    font-size: 12px;
    width: 25px;
    text-align: center;
    height: 25px;
    background-color: #000;
}
section#instafeed:hover:after {
    background-color: #333;
}

section#instafeed img {
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    filter: grayscale(100%) brightness(35%);
    margin: 3px;
    width: 50px;
}
section#instafeed img:hover {
    filter: grayscale(10%) brightness(100%);
}

/* TABLET */
@media screen and (max-width: 900px) {
    section.heading {
        width: 600px;
    }
    section#instafeed {
        background-color: #000;
        top: -50%;
        right: auto;
        width: 530px;
    }

    section#instafeed img {
        width: 100px;
    }
}

/* MOBILE */
@media screen and (max-width: 500px) {
    section.heading {
        width: auto;
    }
    h1 {
        font-size: 45px;
        line-height: 40px;
        width: 300px
    }
    section#instafeed {
        background-color: #000;
        top: 5px;
        right: 0;
        width: 100%;
    }
    section#instafeed img {
        width: 50px;
    }
}